@model IEnumerable<DVDRentalSystem.Models.Loan>

@{
    ViewBag.Title = "Filter By Loan CopyNumber";
}

<h2>FILTER LOAN BY COMPY NUMBER (Movie Lists)</h2>
<h4>Task 5 </h4>

<form action="/FilterByLoanCopyNumberPost/filterByLoanCopyNumberPost" method="get">
    @Html.DropDownList("DVDDetails", new SelectList(ViewBag.MovieLists, null, null), 
    htmlAttributes: new { @class = "btn btn-primary" })
    <button class="btn btn-primary" type="submit">Submit</button>
</form>


